// Colors

$color-primary: #00539C;
$color-secondary: #EEA47F;

$color-black: #333333;
$color-lightgray: #D5D5D5;
$color-white: #FFFFFF;

// Fonts

$font-family-primary: 'Poppins', sans-serif;
$font-family-secondary: 'Heebo', sans-serif;

// Sizes

$breakpoint-medium: 48em;
$breakpoint-large: 64em;
$max-container: 75em;

$size-1: 0.422rem;
$size-2: 0.563rem;
$size-3: 0.75rem;
$size-4: 1rem;
$size-5: 1.333rem;
$size-6: 1.777rem;
$size-7: 2.369rem;
$size-8: 3.157rem;
$size-9: 4.209rem;
