@use "../abstracts/variables" as *;

.wp-block-stardust-facebook-social {
    width: auto;
    line-height: 1;

    svg {
        width: 24px;
        height: 24px;
        fill: $color-primary;
    }

    &:hover svg {
        fill: $color-accent
    }
}