@use "../abstracts/variables" as *;

.wp-block-buttons {}

.wp-block-button {
    border-radius: 0;

    &.is-style-primary {
        .wp-block-button__link {
            background-color: $color-primary;
        }

        &:hover {
            .wp-block-button__link {
                background-color: $color-accent;
            }
        }
    }
}

.wp-block-button__link {
    font-style: normal;
    border-radius: 0;
}