@use "../abstracts/variables" as *;

.button {
  border-radius: 2px;
  padding: 8px 24px;

  &.primary {
    background-color: $color-accent;
    color: #ffffff;

    &:hover {
      background-color: $color-accent--hover;
    }
  }

  &.secondary {
    background-color: $color-secondary;

    &:hover {
      background-color: $color-secondary--hover;
    }
  }
}