@use "../abstracts/variables" as *;

.footer {
  background-color: $color-primary;
  color: white;

  .footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-sidebar {
    .widget-wrapper {
      margin: 1rem 0;
    }

    p {
      margin: 0;
    }

    .wp-block-stardust-facebook-social {
      svg {
        fill: $color-accent;
      }
    }
  }

  .footer-contact-form {
    .form-section {
      margin: 0.5rem 0;

      label {
        display: block;
      }

      input, textarea {
        background-color: white;
        border-radius: 5px;
        width: 100%;
        color: $color-black;
      }
    }
  }
  input[type=submit] {
    padding: 0.5rem 1.5rem;
    margin-bottom: 0.5rem;
  }
}