@use "../abstracts/variables" as *;

.navbar {
  display: flex;
  padding: 32px 64px;

  .nav-brand {
    display: flex;
    align-items: center;
  }

  .navbar-menu {
    margin-left: auto;
    align-items: flex-end;
    display: flex;
    flex-direction: column;

    .widget-wrapper {
      .wp-block-columns {
        margin: 0;
        align-items: center;
      }

      .wp-block-column {
        flex-basis: initial;
        flex-grow: 0;
      }

      .wp-block-social-links {
        margin: 0;
      }

      label {
        display: none;
      }
    }

    .primary-menu {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      li {
        padding: 16px 8px;
      }

      a {
        font-size: 15px;
        color: $color-primary;
        font-style: normal;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}