@use "../abstracts/variables" as *;

body {
  color: $color-black;
  font-family: $font-primary;
  font-size: 17px;
  line-height: 28px;
}

a {
  color: $color-secondary;
  font-style: italic;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-accent;
  font-weight: 800;
}

h1 {
  font-size: 42px;
  font-weight: 700;
  line-height: 49px;
}

h2 {
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 51px;
}

h3 {
  font-size: 34px;
  line-height: 50px;
}

h4 {
  font-size: 21px;
  color: $color-accent;
  line-height: 30px;
  text-transform: uppercase;
}

h5 {
  font-size: 24px;
  color: $color-accent;
  line-height: 35px;
}

h6 {
  font-size: 20px;
  line-height: 30px;
}