@use "../abstracts/variables" as *;

// wp-block-stardust-facebook-social
.stardust-social {
  fill: #333333;
  height: 20px;
  width: 20px;
  transition: fill 150ms ease-out;
  line-height: 1;

  &:hover {
    fill: $color-secondary;
  }
}