@use "../abstracts/variables" as *;

body {
    font-family: $font-family-primary;
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-secondary;
    font-weight: 900;
}

h1 {
    font-size: $size-9;
}

h2 {
    font-size: $size-8;
}

h3 {
    font-size: $size-7;
}

h4 {
    font-size: $size-6;
}

h5 {
    font-size: $size-5;
}

h6 {
    font-size: $size-4;
}

a {
    transition: color 150ms ease-out;
    color: $color-primary;

    &:hover {
        color: $color-secondary;
    }
}
