@use "variables" as *;

@mixin screen-md {
  @media screen and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin screen-lg {
  @media screen and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin sm-only {
  @media screen and (max-width: $breakpoint-md) {
    @content;
  }
}