$color-primary: #2E3F46;
$color-secondary: #B9D2C8;
$color-secondary--hover: #7EAD9A;
$color-accent: #E98D78;
$color-accent--hover: #D36E57;
$color-grey: #EAE9E7;
$color-black: #333333;

$font-primary: 'Open Sans', sans-serif;
$font-accent: 'Heebo', sans-serif;

$breakpoint-md: 48em;
$breakpoint-lg: 64em;
$max-width: 75em;