@use "../abstracts/mixins" as *;

.banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
    text-align: center;

    @include screen-medium {
        text-align: left;
    }

    .container {
        height: 100%;
        display: flex;
        align-items: center;
    }
}

.banner.home {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('/images/home-banner.jpg');
    background-position: bottom;
    color: white;
}
