@use "../abstracts/variables" as *;

.button {
    border: thin solid $color-lightgray;
    padding: 0.5rem 2.5rem;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: all 150ms ease-in-out;

    &:hover {
        transform: translateY(-2px);
    }

    &.primary {
        background-color: $color-primary;
        border-color: darken($color-primary, 5%);

        &:hover {
            border-color: darken($color-primary, 10%);
            background-color: darken($color-primary, 10%);
        }
    }

    &.primary-dark {
        background-color: darken($color-primary, 5%);
        border-color: darken($color-primary, 5%);

        &:hover {
            border-color: darken($color-primary, 10%);
            background-color: darken($color-primary, 10%);
        }
    }
}
