@use "../abstracts/variables" as *;

.card {
    border: thin solid $color-lightgray;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: $size-6 $size-5;
    text-align: justify;

    .card-image {
        width: 100%;
    }

    .card-body {
        padding: $size-3 0;
    }
}
