@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer {
    background-color: $color-primary;
    padding: $size-5 0;
    color: $color-white;
    text-align: center;

    @include screen-medium {
        text-align: left;
    }

    img {
        max-width: 80%;
    }

    .row {
        align-items: center;
    }

    svg {
        fill: $color-white;
    }

    .input, .inline-input {
        input, textarea, select {
            color: $color-black;
        }
    }

    .widget-wrapper {
        margin-bottom: $size-6;

        p, a {
            display: block;
            margin-bottom: 0;
            line-height: 1.2;
        }

        span {
            font-weight: 600;
        }

        .stardust-social {
            display: inline-block;
        }
    }

    .stardust-social {
        margin: 0 $size-2;

        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-right: 0;
        }
    }

    .copyright {
        font-size: $size-3;

        p {
            margin-bottom: 0;
        }
    }
}
