@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.navbar {
    display: flex;
    align-items: center;
    position: relative;

    .container {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .nav-brand {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        a {
            text-decoration: none;
        }

        img {
            max-height: $size-9;
            width: auto;
        }
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }

    .nav-socials {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        .stardust-social {
            display: none;
            margin-left: 0.5rem;
            margin-right: 0.5rem;

            @include screen-medium {
                display: block;
            }
        }
    }

    .nav-burger {
        border: none;
        background-color: transparent;
        margin-left: 1rem;
        margin-right: 0.25rem;
        padding: 0;

        @include screen-medium {
            display: none;
        }

        i {
            background-color: #333333;
            width: 30px;
            height: 4px;
            margin: 5px 0;
            display: block;
        }
    }

    .nav-menu-items {
        position: absolute;
        top: 100%;
        background: white;
        left: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: none;

        @include screen-medium {
            justify-content: flex-end;
            position: relative;
            width: auto;
            display: flex;
        }

        &.visible {
            display: flex;
        }

        ul {
            flex-direction: column;
            width: 100%;
            align-items: center;

            display: flex;

            @include screen-medium {
                width: auto;
                flex-direction: row;
                align-items: initial;
            }
        }

        li:last-of-type a {
            margin-right: 0;
        }

        a {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            padding: 0.25rem;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 600;
            font-size: $size-5;
        }

        .nav-separator {
            border-bottom: 3px solid #d5d5d5;
            margin: 0.5rem;
            width: 80%;

            @include screen-medium {
                width: auto;
                border-bottom: none;
                border-right: 3px solid $color-lightgray;
                margin: 0 0.5rem;
            }
        }
    }
}
