@use "../abstracts/variables" as *;

.form {
    .input {
        margin-bottom: $size-1;

        label {
            display: block;
        }

        input, select, textarea {
            width: 100%;
            background-color: $color-white;
        }
    }

    .inline-input {
        label {}

        input {}
    }
}
