@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.container .row {
    margin-left: -$size-4;
    margin-right: -$size-4;
}

.row {
    display: flex;
    flex-wrap: wrap;

    .col {
        width: 100%;
        padding: 0 $size-4;

        &.small-6 {
            width: calc(100% / 12 * 6);
        }

        &.medium-4 {
            @include screen-medium {
                @media screen and (min-width: $breakpoint-medium) {
                    width: calc(100% / 12 * 4);
                }
            }
        }

        &.medium-6 {
            @include screen-medium {
                @media screen and (min-width: $breakpoint-medium) {
                    width: calc(100% / 12 * 6);
                }
            }
        }

        &.medium-8 {
            @include screen-medium {
                @media screen and (min-width: $breakpoint-medium) {
                    width: calc(100% / 12 * 8);
                }
            }
        }

        &.medium-9 {
            @include screen-medium {
                @media screen and (min-width: $breakpoint-medium) {
                    width: calc(100% / 12 * 9);
                }
            }
        }

        &.large-6 {
            @include screen-large {
                @media screen and (min-width: $breakpoint-large) {
                    width: calc(100% / 12 * 6);
                }
            }
        }
    }
}
