@use "../abstracts/mixins" as *;

.container .row {
  margin: 0 -16px;
}

.row {
  display: flex;
  flex-wrap: wrap;

  .col {
    width: 100%;
    padding: 0 16px;

    &.sm-6 {
      width: calc(100% / 12 * 6);
    }

    &.md-4 {
      @include screen-md {
        width: calc(100% / 12 * 4);
      }
    }

    &.md-6 {
      @include screen-md {
        width: calc(100% / 12 * 6);
      }
    }

    &.lg-6 {
      @include screen-lg {
        width: calc(100% / 12 * 6);
      }
    }
  }
}